@model KeyifyWebClient.Core.Models.FretboardWebModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="~/css/InstrumentPage.css" rel="stylesheet" />
</head>

<body>
    <div id="Fretboard">@await Html.PartialAsync("Fretboard", Model)</div>
</body>