<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/14112024/InstrumentPage.css" rel="stylesheet" />
    <link href="~/css/27112024/Fretboard.css" rel="stylesheet" />
    <link href="~/css/27112024/Loader.css" rel="stylesheet" />
    <script src="~/js/23112024/fretboardFunctions.js"></script>
</head>
<body>
    <div class="container nonSelectable">
        <div>
            <div class="pageHeading">
                <h1>Notes To Key</h1>
                <h5>What Key is This in?</h5>
            </div>
            <content>
                @RenderBody()
            </content>
            <div id="loading" class="loading">
                &#8230;
            </div>
        </div>
    </div>

    <footer>
    </footer>
</body>
</html>