<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/02112024/InstrumentPage.css" rel="stylesheet" />
    <link href="~/css/02112024/Fretboard.css" rel="stylesheet" />
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/13022023/fretboardFunctions.js"></script>
</head>
<body>
    <div class="nonSelectable">
        <content>
            @RenderBody()
        </content>
    </div>
    <footer>
    </footer>
</body>
</html>