<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/07122024/InstrumentPage.css" rel="stylesheet" />
    <link href="~/css/01122024/Fretboard.css" rel="stylesheet" />
    <link href="~/css/27112024/Loader.css" rel="stylesheet" />
    <script src="~/js/08122024/fretboardFunctions.js"></script>
</head>
<body>
    <div class="container nonSelectable">
        <div>
            <div class="pageHeading">
                <div class="pageHeadingText">
                    <h1>Notes To Key</h1>
                </div>
            </div>
            <content>
                @RenderBody()
            </content>
            <div id="loading" class="loading">
                &#8230;
            </div>
        </div>
    </div>
    @*  <footer>
        @await Html.PartialAsync("Footer")
    </footer> *@
</body>
</html>