@model KeyifyWebClient.Core.Models.FretboardWebModel

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/Fretboard.css" rel="stylesheet" />
</head>

<body>
    <div id="Fretboard">@Html.Partial("Fretboard", Model)</div>
</body>