@model KeyifyWebClient.Core.Models.FretboardWebModel

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/Fretboard.css" rel="stylesheet" />
    <script src="~/js/jquery-3.5.0.min.js"></script>
</head>

<body>
    <div id="Fretboard">@Html.Partial("FretboardMain", Model)</div>
</body>