@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/Fretboard.css" rel="stylesheet" />
    <script src="~/js/jquery-3.5.0.min.js"></script>
</head>

<body>

    <h1>Instruments</h1>

    <div style="padding-left: 15px">
        <h2>
            @Html.ActionLink("Bass", "Index", "Bass", null, new { style = "text-decoration:none;" })
        </h2>
        <h2>
            @Html.ActionLink("Guitar", "Index", "Guitar", null, new { style = "text-decoration:none;" })
        </h2>
        <h2>
            @Html.ActionLink("Mandolin", "Index", "Mandolin", null, new { style = "text-decoration:none;" })
        </h2>
        <h2>@Html.ActionLink("Ukulele", "Index", "Ukulele", null, new { style = "text-decoration:none;" })</h2>
    </div>

</body>