@model KeyifyWebClient.Core.Models.FretboardWebModel

@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="css/Fretboard.css" rel="stylesheet" />
    <script src="~/js/jquery-3.3.1.min.js"></script>
</head>

<body>
<div id="Fretboard">@Html.PartialAsync("FretboardMain", Model)</div>
</body>