@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="~/css/InstrumentPage.css" rel="stylesheet" />
    <script src="~/js/jquery-3.5.1.min.js"></script>
</head>

<body>
    <div style="text-align:center; margin:auto;">

        <h1>Please Note</h1>

        <pre>
        This application is not to be used in place of your pursuit to study and understand Western Music Theory.
        It is a tool that should guide you in your exploration into song writing.        
        </pre>

        <p>Thank You for visiting this website, I created this website to supplement my song writing, using my Guitar, in an attempt to create music that I'll be proud of and leave behind.</p>
        <p>If you're just starting your song writing journey, I hope this tool helps you through the <sup>highs</sup> and <sub>lows</sub> you'll <em>undoubtedly</em> face throughout your career.</p>

        <button onclick="GoHome()">Back</button>
    </div>

</body>

<script lang="en" type="text/javascript">
    function GoHome() {
        location.href = '@Url.Action("Index","Home")';
    }
</script>