@model KeyifyWebClient.Core.Models.FretboardWebModel
    
<link href="css/Fretboard.css" rel="stylesheet" />

<table class="fretboard">
    <tr>
        @for (int count = 0; count < Model.Fretcount; count++)
        {
            if (count == 0)
            {
                <th class="fretboardHeading"></th>
                continue;
            }

            <th class="fretboardHeading">
                @count
            </th>
        }
    </tr>

    @foreach (var instString in Model.Tuning)
    {
        <tr>
            @foreach (var note in instString)
                {
                <td>@note</td>
            }
        </tr>
    }

</table>