@model KeyifyWebClient.Models.FretboardWebModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Fretboard</h1>

@Html.Partial("Fretboard")

<h1>Select Notes</h1>

<table class="fretboard">
    <tr>
        @foreach (var note in Model.Notes)
        {
            <td>
                @Html.Label(note.Item1)
                @Html.CheckBox(note.Item2.ToString())
            </td>
        }
    </tr>
</table>