.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh; /* or any other height value */
    margin-top: 0;
}

body {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../images/bg-tile-23092020.jpg);
    background-repeat: repeat;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: darkslategrey !important;
}

.pageHeading {
    margin: 0px 0px 20px 0px;
    background-color: rgba(0, 0, 0, 0.25);
}

    .pageHeading h1 {
        font-size: 45px;
        text-align: center;
        margin: auto 0;
    }

.instrumentHyperlinkContainer {
    margin: auto;
    width: 61.8%;
    display: flex;
    justify-content: space-between;
}

#instrumentHyperlinkHeaderList {
    margin: auto 0;
    width: 30%;
    text-align: right;
    margin: 0px 0px 20px 0px;
}

#copyQuickLinkHeader {
    text-align: left;
    width: 25%;
}

.instrumentHyperlink {
    margin: 0px 7px 0px 7px;
    text-decoration: none;
    font-size: medium;
    background-color: rgba(0, 148, 255, 0.025) !important;
}

.copyToClipboard {
    margin: 0px 7px 0px 7px;
    text-decoration: none;
    font-size: medium;
    background-color: rgb(0, 148, 255, 0.025) !important;
}

.scaleText {
    font-size: small;
}

.scaleResults {
    table-layout: fixed;
    width: 61.8%;
    min-width: 61.8%;
    max-width: 61.8%;
    padding-left: 15px;
}

.scaleTable {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.scaleResult {
    cursor: pointer;
    color: darkcyan;
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.scaleResultLabel {
    cursor: default;
    color: midnightblue;
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.scaleResultLabelColumn {
    width: 10%;
    min-width: 10%;
    max-width: 10%;
    padding-right: 5px;
}

.scaleResultColumn {
    width: 35%;
    min-width: 35%;
    max-width: 35%;
    padding-left: 5px;
}

.scaleResultSelected {
    color: darkblue;
    cursor: pointer;
}

.center {
    margin: auto;
}

.scaleSetLabelNote {
    padding-left: 4px;
}

.matchedScaleSetLabelNote {
    cursor: default;
    color: green !important;
    background-color: rgba(52, 255, 152, 0.17) !important;
    /*Ensures that only text is "highlighted"*/
    background-clip: content-box;
}

.keyAndScaleSeparator {
    height: 5px;
    background-color: rgba(0, 0, 10, 0.05) !important;
}

h1 {
    padding: 15px;
}

a:link {
    color: steelblue;
}

a:visited {
    color: steelblue;
}

a:hover {
    color: blue;
}

a:active {
    color: cadetblue;
}

a {
    cursor: pointer;
}

.nonSelectable {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
