@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
    <script src="~/js/11032023/ChordDefinitionFunctions.js"></script>
</head>

<body>
    <h1>Create Chord Definition</h1>

    <table>
        <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <label>Chord Defintion Name</label>
                </td>
                <td>
                    <input id="chordDefinitionName" name="chordDefinitionName" />
                </td>
            </tr>
            <tr>
                <td>
                    <label>Chord Intervals</label>
                </td>
                <td>
                    <input id="chordIntervals" name="chordIntervals" />
                </td>
            </tr>
        </tbody>
    </table>

    <button onclick="SubmitChordDefinition()">Submit</button>
</body>