@model KeyifyWebClient.Core.Models.FretboardWebModel

<head>
    <script lang="en" type="text/javascript">

        function UpdateModel(note, add) {
            $.ajax({
                url: '@Url.Action("UpdateFretboardModel")',
                datatype: 'json',
                async: 'false',
                contentType: "application/json",
                type: "POST",
                data: GenerateControllerMethodParams(note, add),
                success: function (data) {
                    $("#Fretboard").html(data);
                }
            });
        }

        function GenerateControllerMethodParams(note, remove) {
            var noteArray = new Array();

            @foreach (var note in Model.Notes.Where(n => n.Value))
            {
                @:noteArray.push("@note.Key");
            }

            if (remove === true) {
                noteArray.push(note);
            } else {
                for( var i = 0; i < noteArray.length; i++){ 
                    if (noteArray[i] === note) {
                        noteArray.splice(i, 1); 
                    }
                }
            }

            return JSON.stringify(noteArray);
        }
    </script>
</head>

<body>
<h1>Fretboard</h1>

<table class="fretboard">
    <tr>
        @for (int count = 0; count < Model.Fretcount; count++)
        {
            if (count == 0)
            {
                <th class="fretboardHeading"></th>
                continue;
            }

            <th class="fretboardHeading">
                @count
            </th>
        }
    </tr>

    @foreach (var instString in Model.Tuning)
    {
        <tr>
            @foreach (var note in instString)
            {
                //TODO: Remove this, replace on controller
                if (Model.Notes.Single(a => a.Key == note).Equals(new KeyValuePair<string, bool>(note, true)))
                {
                    <td class="selectedNote" onclick="UpdateModel('@note', false)"><b>@note</b></td>
                    continue;
                }

                <td class="defaultNote" onclick="UpdateModel('@note', true);">@note</td>
            }
        </tr>
    }
</table>
</body>