<script language="javascript" type="text/javascript">

    function AddNote(note) {
        alert(note.toString());
    }

</script>


@model KeyifyWebClient.Core.Models.FretboardWebModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Fretboard</h1>

@Html.Partial("Fretboard")

<h1>Select Notes</h1>

<table class="fretboard">
    <tr>
        @foreach (var n in Model.Notes)
            {
            <td>
                <input type="button" value="@n.Note" onclick="AddNote('@n.Note')" />
            </td>
        }
    </tr>
</table>