@using KeyifyWebClient.Core.Models
@model KeyifyWebClient.Core.Models.FretboardWebModel

@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="css/Fretboard.css" rel="stylesheet" />
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script lang="en" type="text/javascript">

        function SelectNote(note) {

            var methodUrl = '@Url.Action("UpdateFretboardModel")';

            var data = GenerateControllerMethodParams(note);

            $.ajax({
                url: methodUrl,
                datatype: 'json',
                async: 'false',
                contentType: "application/json",
                type: "POST",
                data: data
            });
        }

        function GenerateControllerMethodParams(note) {
            return JSON.stringify(note);
        }
    </script>
</head>

<h1>Fretboard</h1>

<table class="fretboard">
    <tr>
        @for (int count = 0; count < Model.Fretcount; count++)
        {
            if (count == 0)
            {
                <th class="fretboardHeading"></th>
                continue;
            }

            <th class="fretboardHeading">
                @count
            </th>
        }
    </tr>

    @foreach (var instString in Model.Tuning)
    {
        <tr>
            @foreach (var note in instString)
            {
                //TODO: remove this - it doesn't work
                if (Model.Notes.Contains(new SelectedNoteItem() { Note = note, Selected = true }))
                {
                    <td class="selectedNote"><b>@note</b></td>
                }

                else
                {
                    <td class="defaultNote" onclick="SelectNote('@note');">@note</td>
                }
            }
        </tr>
    }
</table>