@model KeyifyWebClient.Core.Models.FretboardWebModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Fretboard</h1>

@Html.Partial("Fretboard")

@*<h1>Select Notes</h1>*@

@*<table class="fretboard">
    <tr>
        @foreach (var n in Model.Notes)
        {
            <td>
                <input type="button" value="@n.Note" onclick="SelectNote()">
            </td>
        }
    </tr>
</table>*@