<script language="javascript" type="text/javascript">

//    function AddNote(note) {
//
//
//        $.ajax({
//            type: 'POST',
//            url: endpoint,
//            datatype: text,
//            data: note
//        });
//    }

    $(function() {
        $('.NoteButton').on('click',
            function() {
                var endpoint = '@Url.Action("UpdateSelectedNotes", "Home")';
                alert(this);
            });
    })
</script>

@model KeyifyWebClient.Core.Models.FretboardWebModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Fretboard</h1>

@Html.Partial("Fretboard")

<h1>Select Notes</h1>

@using (Html.BeginForm("UpdateSelectedNotes", "Home", FormMethod.Post, new { id = "SelectNote" }))
{

    <table class="fretboard">
        <tr>
            @foreach (var n in Model.Notes)
            {
                <td>
                    <input type="button" value="@n.Note" class="NoteButton"/> 
                </td>
            }
        </tr>
    </table>
}

@*onclick="AddNote('@n.Note')"*@