@model KeyifyWebClient.Core.Models.FretboardWebModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Fretboard</h1>

@Html.Partial("Fretboard")

<h1>Select Notes</h1>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    <table class="fretboard">
        <tr>
            @foreach (var n in Model.Notes)
            {
                <td>
                    <input type="button" value="@n.Note" selectedNote="@n.Note" id="SelectedNote"/> 
                </td>
            }
        </tr>
    </table>
}