@model KeyifyWebClient.Core.Models.FretboardWebModel

@{
    ViewBag.Title = "Home Page";
}

<script lang="en" language="javascript" type="text/javascript">

    function SelectNote(note) {

        alert(note);

        $.ajax({
            url: "@Html.ActionLink("Home","UpdateFretboardModel")",
            datatype: 'json',
            async: 'false',
            contentType: "application/json",
            type: "POST",
            data: note
        });
    }
</script>

<h1>Fretboard</h1>

@Html.Partial("Fretboard")

<h1>Select Notes</h1>

<table class="fretboard">
    <tr>
        @foreach (var n in Model.Notes)
            {
            <td>
                <button value="@n.Note" onclick="SelectNote(@n.Note)"></button>
            </td>
        }
    </tr>
</table>