@model KeyifyWebClient.Core.Models.FretboardWebModel

@{
    ViewBag.Title = "Home Page";
}

<h1>Fretboard</h1>

@Html.Partial("Fretboard")

<h1>Select Notes</h1>
@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <table class="fretboard">
        <tr>
            @foreach (var note in Model.AvailableNotes)
            {
                <td>
                    @Html.Label(note.Item1)
                    @Html.CheckBox(note.Item2.ToString())
                </td>
            }
        </tr>
    </table>

    <input type="submit" value="Add Notes"/>
}